
//?„œë²? ?´?”?—?„œ LoginServer ?‹¤?–‰?›„ ClassReservation?—?„œ Main?Œ¨?‚¤ì§??˜ Main.java ?‹¤?–‰?•˜ë©? ?©?‹ˆ?‹¤.
//?˜¹?‹œ ?•ˆ? ê²½ìš° Common ?´?” clean and build ?›„ Server?´?” Clean and build ?›„?— Client ?´?” Clean and build ?•˜ë©? ?´?¼?´?–¸?Š¸ target ?´?”?— .jar?ŒŒ?¼ ?ƒ?„±?©?‹ˆ?‹¤.
# ==============
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# ==============
# NetBeans
# ==============
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# NetBeans backup and cache
**/nbproject/private/
**/nbproject/config/
**/nbproject/privatetmp/


.DS_Store
Thumbs.db
.vscode/
